.transaction-history {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
}

.transaction-history thead {
  background-color: rgb(88, 130, 219);
  color: white;
}

.transaction-history th,
.transaction-history td {
  border: 1px solid #ddd;
  padding: 8px;
}

.transaction-history tr:nth-child(even) {
  background-color: lightgray;
}

.transaction-history tr:hover {
  background-color: #f1f1f1;
}
