.statistics {
  background: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 25px;
  font-weight: 15;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: rgb(92, 91, 91);
}

.statlist {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
}

.item {
  color: #fff;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22px;
}

.label {
  font-size: 20px;
  margin-bottom: 5px;
}

.percentage {
  font-size: 20px;
}
