.transactionhistory {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
}

.transactionhistory thead {
  background-color: rgb(88, 130, 219);
  color: white;
}

.transactionhistory th,
.transactionhistory td {
  border: 1px solid #ddd;
  padding: 5px 50px 5px 50px;
}

.transactionhistory tr:nth-child(even) {
  background-color: lightgray;
}

.transactionhistory tr:hover {
  background-color: #f1f1f1;
}
